image:
  repository: powerdns/pdns-auth-master
  #we use trunk
  # tag is taken from Chart.appVersion if not specified
  pullPolicy: IfNotPresent

service:
  type: "ClusterIP"
  annotations:
  webserver:
    enabled: true
    port: 8081
    protocol: TCP
  dnstcp:
    enabled: true
    port: 53
    protocol: TCP
  dnsudp:
    enabled: true
    port: 53
    protocol: UDP

ingress:
  enabled: true
  host: pdns.zone.internal
  type: LoadBalancer # or ClusterIP
  # IP is required due to basic network setup
  IP: 10.5.0.150
  port: 8081
  annotations:
    kubernetes.io/ingress.className: traefik
    cert-manager.io/cluster-issuer: local-ca
    external-dns.alpha.kubernetes.io/hostname: pdns.zone.internal
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    #traefik.ingress.kubernetes.io/router.middlewares: "default-https-redirect@kubernetescrd"
    #traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.priority: "10"
spec:
  ingressClassName: traefik
  rules:
  - host: "pdns.zone.internal"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "pdns.zone.internal"
            port:
              number: 8081

## All pdns specific values should be under '_pdns=' key at the end
## for proper templating for pdns params comand line args
## You can use any official supported configuration options from documentation
## Docker image prepared for SQlite storage, if you need other - tune Dockerfile
apiPassword: "123123123"
pdns:
  zones:
  - zone.internal
  args:
  - "--api=yes"
  - "--api-key=$(PDNS_API_KEY)"
  - "--webserver=yes"
  - "--webserver-address=0.0.0.0"
  - "--webserver-allow-from=192.168.0.0/16,10.0.0.0/8,127.0.0.1,::1"
  - "--webserver-password=$(PDNS_API_KEY)"
  - "--disable-syslog=yes"
  - "--webserver-loglevel=detailed"

  resources:
    requests:
      cpu: "100m"
      memory: "256M"
    limits:
      cpu: "200m"
      memory: "512M"
